.navbar{
    background-color: grey;
    min-height: 100px;
}
.navbar__menu{
    margin: 16px;
    text-transform: uppercase;
    
}
.navbar__generos{
    
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    text-transform: uppercase;
}